#P01id_Div {
    background-color: rgb(183, 131, 36);
/*
https://stackoverflow.com/questions/7357818/how-can-an-html-element-fill-out-100-of-the-remaining-screen-height-using-css
*/
    height: 70vh;
    width: 400px;
    resize: horizontal;
    overflow: auto;
    direction: ltr;
    margin: 0;
    padding: 0;
}

#P01id_Div h1{
    margin: 0;
    padding: 0;
}