#P01id_Div {
    display:flex;
    background-color: rgb(0, 0, 0);
    height: 100vh;
}

#P01id_Left {
    background-color: rgb(183, 131, 36);
    height: 100vh;
}

#P01id_Resize{
    cursor: col-resize;
    width: 5px;
}

#P01id_Right{
    background-color: rgb(205, 100, 100);
    height: 100vh;
}