.P01id_C{
    display: block;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    flex-flow: column;
}
.P01id_CResize{
    background-color: aliceblue;
    cursor: row-resize;
    height: 5px;
    padding: 0;
    margin: 0;
}

.P01id_Up {
    background-color: rgb(100, 163, 205);
    width: 100%;
    height:500px;
    padding: 0;
    margin:  0;
}

.P01id_Down {
    background-color: rgb(205, 100, 100);
    width: 100%;
    height:100px;
    padding: 0;
    margin: 0;
}
.P01id_Space{
    width: 100%;
    height:30px;
}