.P01id_CPanel {
    display: flex;
    background-color: rgb(33,33,200);
    height: 100%;
}


.P01id_Left {
    background-color: rgb(100, 163, 205);
    height: 100%;
}

.P01id_CResize {
    cursor: col-resize;
    width: 5px;
    background-color: rgb(122,255,100);
}

.P01id_Right {
    background-color: rgb(205, 100, 100);
    height: 100%;
}