

#C01id_DivTable{
    margin-top: 65px;
}

.C01id_P {
/*
* https://www.w3schools.com/cssref/pr_text_white-space.php
* https://stackoverflow.com/questions/2787310/how-to-reduce-the-space-between-p-tags
*/
    white-space: nowrap;
    margin: 0;
}

.C01id {
    font-size: 16px;
    border: 1px solid rgb(205, 205, 205, 0);
    border-left: 5px solid rgb(205, 205, 205, 0);
    border-right: 5px solid rgb(205, 205, 205, 0);
    height: 30px;
    display: flex
}

.C01id_DivHeader{
    background-color: #023445;
    position:absolute;
}

.C01id_Header {
     background-color: rgb(193, 193, 193);
     font-size: 16px;
     border: 1px solid rgb(205, 205, 205, 0);
     border-left: 5px solid rgb(205, 205, 205, 0);
     border-right: 5px solid rgb(205, 205, 205, 0);
 }

td.C01id{
    height:0px;
}

button.C01id{
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    height: 30px;
}

#C01id_Div{
    width: 1000px;
    overflow-x: scroll;
    overflow-y: scroll;
}

#C01id_Table table {
    /*
    https: //stackoverflow.com/questions/5671098/how-can-i-force-all-rows-in-a-table-to-have-the-same-height
    */
    border-collapse: collapse;
    width: 100%;
    height: 25px;
    table-layout: fixed;
    max-height: 20px;
}

#C01id_Table th{
    height: 50px;
    overflow: hidden;
}

#C01id_Table td{
    height: 0px;
}

#C01id_Table td,
#C01id_Table th
{
    border: 1px solid #ddd;
    padding: 5px;
}

#C01id_Table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#C01id_Table tr:hover {
    background-color: #ddd;
}

#C01id_Table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0481aa;
    color: white;
}

#C01_Button button {
    font-size: 17px;
}

.C01id_Delete{
    font-size: 16px;
}